.external {
  margin:0 auto;
  width:960px; }

.header,
.main,
.footer {
  position:relative;
  float:left;
  clear:both;
  width:960px; }

.header {
  height:202px; }
.header .logo,
.header .logo a {
  display:block;
  margin:0;
  padding:0;
  outline:0;
  border:0; }
.header .logo {
  position:absolute;
  top:25px;
  
  }
.header .logo a {
  background:0 0 no-repeat url('../images/header_bkg.png');
  width:960px;
  height:185px; }
.header .logo span#title{
  color: #717171;
  position: absolute;
  display:block;
  top:38px;
  left:35px;
  font-size: 50px;
  font-family:Georgia,serif;
  font-weight: normal;
  text-shadow: #000 1px 0px 1px; 
}
.header .logo span#subtitle{
  color: #717171;
  position: absolute;
  display:block;
  top:80px;
  left:180px;
  font-size: 30px;
  font-family:Georgia,serif;
  font-weight: normal;
  text-shadow: #000 1px 0px 1px; 
}
.header .logo a:link{
  text-decoration: none;
}
.header #header_dec_1{
  position:absolute;
  background:0 0 no-repeat url('../images/header_bkg_dec_1.png');
  width: 176px;
  height: 177px;
  top:25px;
  left: -176px; 
}
.header #header_dec_2{
  position:absolute;
  background:0 0 no-repeat url('../images/header_bkg_dec_2.png');
  width: 150px;
  height: 177px;
  top:25px;
  left: 960px; 
}
.footer {
  padding:50px 0 20px;
  font-size:14px;
  font-family:Georgia,serif;
  color:#595959;
  }
.footer .module.strona {
  position: absolute;
  color:#838383;
  right:0px;
  float:left;
  clear:both;
  line-height:16px;
  width:550px; 
  text-align:right;}
.footer .module.strona a{
  color:#838383;}
.footer .menu {
  position:absolute;
  top:0;
  right:0px;
  margin:0;
  padding:0;
  height:40px;
  /*width:960px;*/ 
  list-style:none; }
.footer .menu li {
  display:block;
  float:left;
  clear:none;
  margin:0;
  padding:0 0 0 0;  /* */
  height:40px;
  line-height:40px;}
.footer .menu li a {
  padding-right:5px;  /* */
  padding-left:5px;  /* */
  color:#595959;
  text-transform:lowercase;
  text-decoration:none; 
  border-right : 1px #595959 solid;
  }
.footer .menu li.last a {
	border:0px;	
}
.footer .menu li a:hover {
  text-decoration:underline; 
}
.footer .menu li.selected a {
    font-weight:bold; }


.main {
  background:#d0d0d0 0 0 repeat-y url('../images/main_bkg.png'); }

.main .content_spacer{
float:right;
clear:none;
width:714px;
background:0 0 no-repeat url('../images/content_bkg.jpg'); 
}
.main .content {
  padding:40px 31px 40px 31px;
  float:right;
  clear:none;
  width:650px;
  margin-bottom: 130px;
  position:relative;
}
.main .content_spacer .content .galerie.module .gal{
	float:left;
	display:block;
	border-right: 4px solid #fff;
	border-left: 2px solid #fff;
	border-bottom: 4px solid #fff;
		
}
.gal a img{width: 132px;
  height: 115px;}
.main .sidebar {
  float:left;
  clear:none;
  width:246px;
  min-height:580px;
  background:0 0 repeat-x url('../images/sidebar_bkg.png'); 
  }

.content h1,h2{
  color: #45484c;
  border-bottom:2px #c4c4c4 solid;
  padding-bottom:10px;
  font-size:25px;
  width:681px;
}

.sidebar_spacer{
float:left;
width:245px;
}

#sidebar_dec{
  position: absolute;
  background:#754726 0 0 no-repeat url('../images/sidebar_deco_bkg.png');
  width: 246px;
  height: 90px;
  bottom : 0px;
}


.sidebar .menu {
  margin-top:10px;
}  
.sidebar .menu li{
  float:left;
  clear:both;
  width:215px;
  margin:0;
  padding:0;
  list-style:none;
}
.sidebar .menu .submenu li{
  width:185px;
}
.sidebar .menu li a {
  display:block;
  padding:4px 0;
  font-size:18px;
  font-family:Georgia,serif;
  text-decoration:none;
  color:#fff;
  background:repeat-x url('../images/li_bkg.png');
  background-position:bottom;
  padding-bottom:10px;
  }
.sidebar .menu li a:hover {
  color: #56320f;
}



.formy {
  padding-bottom:50px; }

.formy #formy_send,
.formy #formy_ok,
.formy #formy_error,
.formy .formy_send,
.formy .formy_ok,
.formy .formy_error {
  padding-left:24px;
  font-size:12px;
  font-weight:bold; 
  line-height:16px;
  background:transparent;
  background-position:2px 50%;
  background-repeat:no-repeat; }
.formy #formy_ok,
.formy #formy_send,
.formy .formy_ok,
.formy .formy_send {
  color:#0b1;
  background-image:url('../images/famfamfam_silk/accept.png'); }
.formy #formy_error,
.formy .formy_error {
  color:#f00;
  background-image:url('../images/famfamfam_silk/exclamation.png'); }

/******************************************************************************/
/*                             ELEMENTY - KOLORY                              */
/******************************************************************************/

.formy p {
	padding:0;
	margin:2px 0; }
.formy p span {
  display:inline-block;
  padding:3px;
  background:#fff;
  border:1px solid #bbb;
  border-radius:4px; }
.formy p span.validate_bad input,
.formy p span.validate_bad select,
.formy p span.validate_bad textarea {
  border-bottom:1px solid #f22 !important; }
.formy p label {
  color:#333; }
.formy p.formy_radio_title em,
.formy p label em {
  display:inline;
  border:0;
  color:#f00; }
.formy p input,
.formy p select,
.formy p textarea {
  background:transparent;
  margin:0;
  padding:0; 
  border:0;
  color:#333333; }
.formy fieldset {
  margin:20px 0;
  border:0; }
.formy fieldset legend {
	font-weight:bold; }
.formy p.formy_button_p input {
  border:1px solid #ccc; }

.formy p {
  padding:5px 0; }
.formy p label,
.formy p input,
.formy p textarea,
.formy p select {
  display:inline-block; 
  vertical-align:middle; }
.formy p.formy_text_p label,
.formy p.formy_password_p label {
	padding:5px;
  width:120px; }
.formy p.formy_text_p input, 
.formy p.formy_password_p input {
  width:250px; }
.formy p.formy_textarea_p label {
  vertical-align:top;
  padding:5px;
  width:120px; }
.formy p.formy_textarea_p textarea {
  width:400px; 
  height:150px; }
.formy p.formy_checkbox_p {
  white-space:nowrap; }
.formy p.formy_checkbox_p input {
  border:0; }
.formy p.formy_checkbox_p label {
  display:inline-block;
  width:90%;
  white-space:normal }
.formy p.formy_checkbox_p label.validate_bad {
	font-weight:bold;
	color:#f22; }
.formy p.formy_radio_title {
  padding-bottom:5px; }
.formy p.formy_radio_p {
  padding-top:5px; 
  white-space:nowrap; }
.formy p.formy_radio_p input {
  border:0; }
.formy p.formy_radio_p label {
  width:250px;
  white-space:normal }
.formy p.formy_select_p label {
	padding:5px;
  width:120px; }
.formy p.formy_select_p select {
  width:250px; }
.formy p.formy_image_p input {
  border:0; }
.formy p.formy_kalendarz_p label {
	padding:5px;
  width:120px; }
.formy p.formy_kalendarz_p input {
  width:250px;
  cursor:pointer;
  background-position:100% 50%;
  background-repeat:no-repeat;
  background-image:url('../images/famfamfam_silk/calendar.png'); }
.formy p.formy_file_p label {
	padding:5px;
  width:120px; }
.formy p.formy_submit_p {
	width:210px;
  text-align:right; }
.formy p.formy_hidden_p,
.formy p.formy_hidden_p input {
  display:none; }

.formy .formy_recaptcha {
  padding-left:154px; }
.formy .formy_recaptcha .recaptcha_error {
  color:#f22; }

.formy p.formy_submit_p input {
  width:80px;
  height:25px;
  line-height:22px; 
  font-weight:bold;
  color:#333;
  background:#ccc;
  border:1px solid #bbb;
  border-radius:4px;
  cursor:pointer; }
