<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SzablonyStron.org</title>

  <meta name="description" content="" />
  <meta name="keywords" content="" />


    
  <link rel="stylesheet" href="css/jquery.fancybox-1.3.4.css" />
  <link rel="stylesheet" href="css/core.css" />
  <link rel="stylesheet" href="css/francja_elegancja.css" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/jquery.easing-1.3.pack.js"></script>
  <script type="text/javascript" src="js/jquery.mousewheel-3.0.4.pack.js"></script>
  <script type="text/javascript" src="js/jquery.fancybox-1.3.4.pack.js"></script>

</head>
<body>
<div class="external" id="top">

<div class="header">
  <div id="header_dec_1"></div>
  <h1 class="logo"><a href="./"><span id="title">Mechanical engineering</span><span id="subtitle">university projects</span></a></h1>
  <div id="header_dec_2"></div>
</div>
<div class="main">
  <div class="sidebar_spacer">
  <div class="section sidebar">
    
      <ul class="menu">
        <li class="first selected"><a href="#">Centrifugal pumps</a></li>
        <li><a href="#">Met consectetur</a></li>
        <li><a href="#">Adipiscing elit</a></li>
        <li><a href="#">Pellentesque posuere</a></li>
        <li><a href="#">Magna a tupis</a></li>
        <li><a href="#">Magna a tupis</a>
          <ul class="submenu">
            <li><a href="#">Magna a tupis1</a></li>
            <li><a href="#">Magna a tupis2</a></li>
          </ul>
        </li>
        <li><a href="#">Lore ipsum</a></li>
        <li><a href="#">Lore ipsum</a></li>
        <li class="first"><a href="#">Bibendum quist</a></li>
      </ul>
      <div id="sidebar_dec"></div>
    <div class="clear"></div>
  </div>
  </div>
   <div class="content_spacer">
    <div class="section content">
      <h1>Nagłówek tego działu</h1>
      <div class="clear"></div>

      {% block content %}
      {% endblock %}

  <script type="text/javascipt">
    $(document).ready(function() { $("a[rel='c4ca4238a0b923820dcc509a6f75849b']").fancybox(); });
    -->
  </script>
 
  <div class="clear"></div>
  

  <div class="clear"></div>
</body>
</html>
