{% extends "base.html" %}
{% block content %}
              
		<b>{{ post.imie }} {{ post.nazwisko }}</b>
		<b>Basic parametrs:</b>
		<center>
		<table border=1>
			<tr>
				<td>Nazwa:</td><td>Wartosc:</td>
			</tr>
			<tr>
				<td>Wydajnosc pompy:</td><td>Nowy</td>
			</tr>
			<tr>
				<td>Wysokosc podnoszenia:</td><td>komurka</td>
			</tr>
			<tr>
				<td>Predkosc obrotowa:</td></td>
			</tr>
		</table></center>
		<b>Obliczenia wstepne:</b>
		<center><table border=1>
			<tr><td>Nazwa:</td><td>Wartosc:</td></tr>
			<tr><td>Kinematyczny wyroznik szybkobierznosci:</td><td></td></tr>
			<tr><td>Dynamiczny wyroznik szybkobierznosci:</td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
              </table>
              </center>
{% endblock %}
